# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# VS Code
.vscode/
.history/
*.vsix

# JetBrains
.idea/

# Project
configs/*.local.json
dist/
node_modules/
report/
*.log
