# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Project
/*
configs/config.local.json

!.husky
!configs
!docker
!docs
!public
!scripts
!src
!.dockerignore
!.eslintrc.js
!.gitignore
!.prettierrc.js
!Dockerfile
!index.html
!package.json
!README.md
!tsconfig.json
!tsconfig.production.json
!vite.config.js
!vitest-setup.js
!vitest.config.js
!yarn.lock
